@import "style.css";

/* SECTION */

.main {
    width: 80%;
    margin: 10px auto;
    background-color: #f2f2f2;
    padding: 10px;
}

h1 {
    border-bottom: 2px solid #ffa500;
}

.main h4 {
    text-transform: uppercase;
    padding: 10px;
}

.main ul {
    list-style-type: none;
}

.main ul li,
.main ul li div {
    padding: 10px;
}

.indam {
    font-weight: bold;
}

.main a {
    text-decoration: none;
    color: #ffa500;
}